body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
html {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
@media(min-width:767px) {
    #main-menus.navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 10px 0;
        height: 70px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: transparent;
        border-color: #fff;
    }
    .navbar-collapse .btn {
        margin-left: 20px;
        margin-top: 11px;
    }
    #main-menus .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -80px !important;
        /* 50% of your logo width */
        
        display: block;
        padding: 0;
    }
    .vertical-align {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.section-colored {
    background-image: -webkit-linear-gradient(left, rgb(0, 81, 112), transparent), url('../img/marketing-conteudo-header.jpg');
    background-image: -o-linear-gradient(left, rgb(0, 81, 112), transparent), url('../img/marketing-conteudo-header.jpg');
    background-image: linear-gradient(to right, rgb(0, 81, 112), transparent), url('../img/marketing-conteudo-header.jpg');
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 200px;
    color: #fff;
}
.intro-section {
    padding-top: 200px;
    text-align: center;
    height: 800px;
}
.intro-section h1,
.intro-intern-section h1 {
    font-size: 66px;
    text-transform: uppercase;
    font-weight: 100;
    border-bottom: solid thin rgba(255, 255, 255, .3);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.about-section {
    height: 100%;
    text-align: center;
    background: #eee;
}
.services-section {
    text-align: center;
    background: #fff;
}
.contact-section {
    text-align: center;
    background: #eee;
}
.navbar-brand>img {
    max-height: 100%;
}
.navbar-default {
    background-color: transparent;
    border: none;
}
.top-nav-collapse {
    background-color: rgba(0, 81, 112, .9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    line-height: initial;
}
.btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-transparent:hover,
.btn-transparent:focus {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
}
.btn-primary {
    background-color: #0F75BC;
}
.all-services-format-logo {
    padding: 30px 0;
    float: left;
}
.services-format-logo {
    border: solid 3px #005170;
    border-radius: 6px;
    width: 65px;
    height: 65px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #005170;
}
.services-format-logo i {
    font-size: 40px;
    line-height: 60px;
}
.services-format-logo:after {
    content: '';
    position: absolute;
    bottom: -9.5px;
    right: -23px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 25px solid #005170;
    transform: rotate(30deg);
}
.services-format-desc {
    padding: 10px;
    font-weight: 200;
    font-size: 22px;
}
#compra-rapida {
    height: auto;
}
.big-card {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    min-height: 300px;
    padding: 30px;
}
.big-card:not(:first-child) {
    margin: 100px auto;
}
#compra-rapida .big-card:first-child {
    margin-top: 30px;
}
.title-vertical {
    padding-bottom: 100px;
}
section .title-fine {
    font-weight: 100;
    font-size: 56px;
    margin: 0;
    text-transform: capitalize;
}
.big-card .img-side {
    background-color: #eee;
    height: 500px;
    position: absolute;
    top: -63px;
    left: -16px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.big-card .img-side i {
    font-size: 19vw;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    transform: rotate(25deg);
}
.big-card:nth-child(2) .img-side {
    right: -17px;
    left: initial;
}
.big-card:nth-child(2) .img-side i {
    right: 0;
    left: initial;
}
.big-card .desc-side {
    text-align: left;
}
.big-card .desc-side h3 {
    font-size: 38px;
}
.spinner {
    width: 100px;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8.2px 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}
.big-card .form-horizontal .control-label {
    text-align: left;
}
.btn i.right {
    margin-left: 6px;
}
.btn i.left {
    margin-right: 6px;
}
.big-card h3 {
    margin: 0;
}
.preco-card {
    font-size: 42px;
    font-weight: bold;
}
.big-card-actions {
    padding-top: 30px;
    float: left;
    width: 100%;
}
.big-card-actions .btn {
    margin-right: 15px;
}
footer {
    background-color: #414141;
    min-height: 400px;
    color: #fff;
    position: relative;
    padding: 50px 0;
}
#pos-footer {
    background-color: #313131;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 15px;
}
#pos-footer p {
    margin: 0;
}
#newsletter {
    color: #fff;
}
#timeline {
    margin: 0 25px;
}
#timeline li {
    text-align: right;
    border-right: solid 3px #005170;
    padding: 65px 65px 0 0;
    position: relative;
}
#timeline li:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    right: -45px;
    text-align: center;
    top: 40px;
    font-size: 32px;
    line-height: 85px;
    color: #fff;
    width: 85px;
    height: 85px;
    background: #005170;
    border-radius: 100%;
}
#timeline li:nth-child(1):after {
    content: "\f000";
}
#timeline li:nth-child(2):after {
    content: "\f072";
}
#timeline li:nth-child(3):after {
    content: "\f076";
}
#timeline li:nth-child(4):after {
    content: "\f19c";
}
.text-services {
    padding: 30px;
}
.text-services p {
    height: 80px;
}
section:not(.intro-section) {
    padding-top: 100px;
    padding-bottom: 100px;
}
#contact {
    padding-bottom: 0;
}
#contact .big-card {
    transform: translateY(30px);
    padding: 0;
}
section#contact .title-vertical {
    padding-bottom: 70px;
}
.right-side-contact {
    height: 100%;
    background-color: #005170;
    min-height: 419px;
    color: #fff;
    padding: 50px;
    text-align: left;
    position: relative;
}
.right-side-contact:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f086";
    font-size: 19vw;
    position: absolute;
    bottom: -75px;
    right: 5px;
    color: rgba(255, 255, 255, .1);
}
.right-side-contact a {
    color: #fff;
}
.right-side-contact .contact-info {
    padding: 0;
    margin-top: 15px;
}
.right-side-contact .contact-info li {
    padding: 15px 0;
}
.right-side-contact .contact-info li i {
    margin-right: 15px;
    font-size: 20px;
}
.redes-info {
    margin: 0;
    padding-left: 14px;
    list-style-type: none;
    position: relative;
    z-index: 3;
}
.redes-info li {
    display: inline;
}
.redes-info li a {
    padding: 15px;
    border-radius: 2px;
}
.redes-info li:first-child a {
    margin-left: -15px;
}
.redes-info li a:hover {
    background-color: rgba(255, 255, 255, .1);
}
.redes-info li a i {
    font-size: 20px;
}
.contact-form {
    padding: 50px;
}
.contact-form textarea {
    max-width: 100%;
    height: 132px;
    max-height: 132px;
}
.contact-form .send-mesnagem {
    margin-top: 15px;
}
.card-vert {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    min-height: 200px;
    margin-bottom: 50px;
    text-align: left;
}
.card-vert header {
    min-height: 100px;
    background-color: #eee;
}
.card-vert .body-card {
    padding: 15px;
}
#selectors-feedback {
    padding-left: 0;
    list-style-type: none;
    bottom: 0;
    margin-bottom: 0;
}
#selectors-feedback li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #005170;
    border-radius: 100%;
    margin: 5px 2.5px;
    cursor: pointer;
    opacity: .6;
}
#selectors-feedback li.active {
    opacity: 1;
    width: 12.5px;
    height: 12.5px;
}
#feedback .cols-com .big-card {
    opacity: .3;
    transform: scale(.9);
    margin: 30px 0;
}
/* #feedback .cols-com:first-child .big-card {

    transform: translateX(-60px);

}

#feedback .cols-com:last-child .big-card {

    transform: translateX(60px);

} */

#feedback .cols-com:nth-child(2) .big-card {
    opacity: 1;
    transform: scale(1);
}
#feedback .cols-com .big-card p {
    font-size: 14px;
}
#feedback .container-fluid {
    overflow-x: hidden;
}
footer ul {
    padding: 0;
    margin: 0;
}
footer a {
    color: #fff;
}
footer h3 {
    margin-top: 0;
    margin-bottom: 15px;
}
footer ul li {
    padding: 5px 0;
}
/* MOBILE */

@media (max-width: 767px) {
    .navbar-brand {
        padding: 10px;
    }
    .intro-section {
        padding-top: 100px;
    }
    .intro-section * {
        text-align: center;
    }
    .intro-section .btn {
        margin-top: 15px;
    }
    .navbar-toggle {
        /* right: 185px; */
    }
    .navbar-default .navbar-toggle {
        border-color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .big-card .img-side {
        display: none;
    }
    #compra-rapida .big-card {
        padding: 15px;
    }
    .btn-group-lg>.btn,
    .btn-lg {
        font-size: 16px;
    }
    #feedback .cols-com:last-child .big-card,
    #feedback .cols-com:first-child .big-card {
        display: none;
    }
    .contact-form,
    .right-side-contact {
        padding: 15px;
    }
    section .title-fine {
        font-size: 42px;
    }
    .title-vertical {
        padding-bottom: 50px;
    }
    section:not(.intro-section) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #timeline {
        padding-left: 0;
        margin-left: 0;
    }
}
.intro-intern-section {
    padding-top: 175px!important;
    text-align: center;
    height: 450px;
}
#map {
    background-image: url('./../img/mapa.png');
    background-size: cover;
    height: 300px;
    background-position-y: 400px;
}
.padding-top-none {
    padding-top: 0!important;
}
.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none!important;
        transform: none!important;
    }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}
.carousel-inner .active.left {
    left: -33%;
}
.carousel-inner .active.right {
    left: 33%;
}
.carousel-inner .next {
    left: 33%
}
.carousel-inner .prev {
    left: -33%
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-inner .item {
    background: white;
}
#carousel-depoimentos {
    padding: 15px 0 30px 0;
}
.big-card .dest-depos {
    font-size: 28px;
    color: #005170;
    margin-bottom: 15px;
}
.nome {
    margin-top: 30px;
}
.nome p {
    font-weight: bold;
    font-size: 16px!important;
}
.profissao p {
    color: #005170;
    font-size: 16px!important;
}
#feedback {
    padding-bottom: 70px!important;
}
#feedback .title-vertical {
    padding-bottom: 70px;
}
#to-top {
    position: fixed;
    right: 15px;
    bottom: -50px;
}
#to-top i {
    font-size: 48px;
    color: #005170;
    opacity: .8;
}
#to-top.active {
    bottom: 15px;
}
@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    text-align: center;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 25px;
    height: 40px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 3px;
    height: 5px;
    margin: -1.5px 0 0 -1.5px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}
.button_container {
    position: fixed;
    top: 4%;
    left: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.button_container:hover {
    opacity: .7;
}
.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}
.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}
.button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}
.button_container span {
    background: #FFF;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}
.button_container span:nth-of-type(2) {
    top: 11px;
}
.button_container span:nth-of-type(3) {
    top: 22px;
}
.overlay {
    position: fixed;
    background: #005170;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}
.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}
.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 15%;
    height: calc(100% / 7);
    min-height: 50px;
    position: relative;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
}
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
#social-menus {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 111px;
}